<div class="row inside-header">
    <div class="col-xs-12">
        <h2>Seats</h2>
        <h4>Please <span class="visible-xs-inline hidden-xs-pt">zoom in to </span>select the seats you would like to sit in.</h4>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p class="visible-xs-pt">Please rotate your device to landscape mode or access this website on a computer.</p>

        <div class="hidden-xs-pt">
            <div id="stage-box">
                <h1>Stage</h1>
            </div>

            <seat-chart></seat-chart>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-10">

    </div>

    <div class="col-xs-2">
        <a href="checkout.html" class="btn btn-primary pull-right" role="button">Checkout</a>
    </div>
</div>