<div class="row inside-header">
    <div class="col-xs-12">
        <h2>Shows</h2>
        <h4>Please select the show you would like to see.</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-xs-6" *ngFor="let show of shows">
        <div class="panel panel-default show-selector" [class.panel-primary]="hovering === show.id" (mouseenter)="hovering = show.id" (mouseleave)="hovering = null" [class.show-selected]="selected === show.id" (click)="onClick(show.id, $event)">
            <div class="panel-body">
                <img src="{{show.logoUrl}}" alt="{{show.name}} Logo" draggable="false" class="img-responsive center-block">
                <h3>{{show.name}}</h3>
                <h5>{{show.description}}</h5>
            </div>
        </div>
    </div>
</div>

<div [collapse]="isDetailsCollapsed" id="show-details">
    <div class="row">
        <div class="col-sm-6 col-xs-12 col-ls-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Please select a show date and time.</h4>
                        </div>
                    </div>

                    <div class="row">
                        <show-datepicker></show-datepicker>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xs-12 col-ls-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Please specify the number of people in your group.</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <input type="number" class="form-control" placeholder="Adults" id="adult-amount" min="0" max="30">
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <input type="number" class="form-control" placeholder="Children" id="child-amount" min="0" max="30">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-10 col-xs-2">
            <a href="seats.html" class="btn btn-primary pull-right" role="button" id="select-seats-button">Select Seats</a>
        </div>
    </div>
</div>