<div class="row">
  <div class="col-xs-2">
    <a class="btn btn-default pull-left" role="button" [routerLink]="['/shows']">Go Back</a>
  </div>

  <div class="col-xs-8">
    <div class="well well-sm clearfix" id="selection-summary">
      <div class="col-xs-3">
        <img class="img-responsive" id="show-image" [src]="selectedShow.logoUrl" [alt]="selectedShow.name">
      </div>

      <div class="col-xs-6">
        <h4>{{selectedShow.name}}</h4>
        <p>You have selected <b>{{selectedSeats.length}}</b> out of <b>{{adultTickets + childTickets}}</b> seats.</p>
      </div>

      <div class="col-xs-3">
        <h5>Subtotal: <b>${{(adultTickets * adultCost) + (childTickets * childCost)}}</b></h5>
      </div>
    </div>
  </div>

  <div class="col-xs-2">
    <a class="btn btn-primary pull-right" role="button" [routerLink]="['/checkout']" [class.disabled]="selectedSeats.length !== adultTickets + childTickets">Checkout</a>
  </div>
</div>
