@import 'https://fonts.googleapis.com/css?family=Open+Sans';

#client-container {
  margin-top: 20px;
}

/* Breadcrumbs */

.breadcrumb {
  pointer-events: none;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  display: block;

  li {
    font-size: 16px;
  }

  a {
    color: #d6d6d6;
  }
}

.breadcrumb > .active {
  color: #428bca;
}

.breadcrumb > li+li:before {
  color: #999999;
  content: "\2014\00a0";
}
