<div class="row inside-header">
    <div class="col-xs-12">
        <h2>Shows</h2>
        <h4>Please select the show you would like to see.</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-xs-6" *ngFor="let show of shows">
        <div class="panel panel-default show-selector" [class.panel-primary]="hovering === show.id" (mouseenter)="hovering = show.id" (mouseleave)="hovering = null" [class.show-selected]="selectedShow === show.id" (click)="onShowClick(show.id)">
            <div class="panel-body">
                <img src="{{show.logoUrl}}" alt="{{show.name}} Logo" draggable="false" class="img-responsive center-block">
                <h3>{{show.name}}</h3>
                <h5>{{show.description}}</h5>
            </div>
        </div>
    </div>
</div>

<div [collapse]="selectedShow == null" id="show-details">
    <div class="row">
        <div class="col-sm-6 col-xs-12 col-ls-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Please select a show date and time.</h4>
                        </div>
                    </div>

                    <div class="row" *ngFor="let day of days">
                        <p><small>{{day}}</small></p>
                        <div class="col-xs-4" *ngFor="let event of getEventsOnDay(day)">
                             <button type="button" class="btn btn-default" (click)="selectedEvent = event.id" btnRadio="{{event.id}}">{{getTimeFromDate(event.date)}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xs-12 col-ls-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Please specify the number of people in your group.</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group form-inline">
                                <label for="adult-amount">Adults&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input type="number" class="form-control" id="adult-amount" min="0" max="30" ngControl="adultTickets" [(ngModel)]="adultTickets">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group form-inline">
                                <label for="child-amount">Children&nbsp;</label>
                                <input type="number" class="form-control" id="child-amount" min="0" max="30" ngControl="childTickets" [(ngModel)]="childTickets">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-10 col-xs-2">
            <a [class.disabled]="(adultTickets + childTickets === 0 || adultTickets + childTickets > 30) && selectedEvent != null" class="btn btn-primary pull-right" role="button" id="select-seats-button" [routerLink]="['/seats']">Select Seats</a>
        </div>
    </div>
</div>
