@import 'https://fonts.googleapis.com/css?family=Open+Sans';

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    overflow-x: hidden;
}

.inside-header {
    margin-bottom: 20px !important;
}

img {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

button:focus {
    outline: 0px !important;
}

/* Size Utilities */

@media (min-width: 550px) {
    .col-ls-xs-6 {
        width: 50%;
    }

    .visible-xs-pt {
        display: none !important;
    }
}

@media (min-width: 550px) {
    .visible-xs-ls {
        display: none;
    }
}

@media (max-width: 550px) {
    .hidden-xs-pt {
        display: none !important;
    }
}

/* Text Sizes */

p.input-label {
    font-size: 14px;
    position: relative;
    transform: translateY(50%);
}

h4 {
    font-size: 17.6px;
}

h5 {
    font-size: 14.6px;
}

/* Breadcrumbs */

.breadcrumb {
    pointer-events: none;
    background: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    display: block;

    li {
        font-size: 16px;
    }

    a {
        color: #d6d6d6;
    }
}

.breadcrumb > .active {
    color: #428bca;
}

.breadcrumb > li+li:before {
    color: #999999;
    content: "\2014\00a0";
}
