<div class="row inside-header">
  <div class="col-xs-12">
    <h2>Checkout</h2>
    <h4>Please review and complete your order.</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <img class="img-responsive pull-right" id="show-image" [src]="selectedShow.logoUrl" [alt]="selectedShow.name">
  </div>

  <div class="col-xs-6 text-left">
    <h4>{{selectedShow.name}}</h4>
    <table>
      <tr *ngIf="adultTickets > 0">
        <td>Adults:&nbsp;</td>
        <td><b>{{adultTickets}}</b></td>
      </tr>
      <tr *ngIf="childTickets > 0">
        <td>Children:&nbsp;</td>
        <td><b>{{childTickets}}</b></td>
      </tr>
    </table>
    <hr>
    <h5>Transaction Fee: <b>${{informationService.getTransactionFee()}}</b></h5>
    <h5>Total Cost: <b>${{getTotalCost()}}</b></h5>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <a class="btn btn-default pull-left" role="button" [routerLink]="['/client/seats']">Go Back</a>
  </div>

  <div class="col-xs-offset-8 col-xs-2">
    <button class="btn btn-primary pull-right" type="submit" id="payButton">Pay Now</button>
  </div>
</div>
