<div class="row inside-header">
  <div class="col-xs-12">
    <h2>Seats</h2>
    <h4>Please <span class="visible-xs-inline hidden-xs-pt">zoom in to </span>select the seats you would like to sit in.</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p class="visible-xs-pt">Please rotate your device to landscape mode or access this website on a computer.</p>

    <div class="hidden-xs-pt">
      <div id="stage-box">
        <h1>Stage</h1>
      </div>

      <div id="seat-chart-rows">
        <div *ngFor="let row of rows" class="row seat-row">
          <div class="col-xs-12">
            <div *ngFor="let seat of row.seats" class="parent-seat">
              <div *ngFor="let blank of getBlanks(seat.blanksToLeft)" class="seat-space"></div>
              <div class="seat" [id]="seat.id"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row inside-footer">
  <div class="col-xs-2">
    <a class="btn btn-default pull-left" role="button" [routerLink]="['/shows']">Go Back</a>
  </div>

  <div class="col-xs-8">
    <div class="well clearfix" id="selection-summary">
        <img class="img-responsive" id="show-image" [src]="selectedShow.logoUrl" [alt]="selectedShow.name">
        <h3>{{selectedShow.name}}</h3>
    </div>
  </div>

  <div class="col-xs-2">
    <a class="btn btn-primary pull-right" role="button" [routerLink]="['/checkout']">Checkout</a>
  </div>
</div>
