.show-selector {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.show-selected {
  background-color: #286090;
  color: #fff;
}

button:focus {
  outline: 0px !important;
}

#event-selector {
  max-height: 300px;
  overflow-y: auto;
}

.panel {
  position: relative;
}

.vertical-align {
  display: flex;
  align-items: center;
}
