<div class="row inside-header">
  <div class="col-xs-12">
    <h2>Shows</h2>
    <h4>Please select the show you would like to see.</h4>
  </div>
</div>

<div *ngIf="!shows" class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

<div *ngIf="shows && shows.length === 0">
  <h1>There are currently no shows available.</h1>
</div>

<div class="row" *ngIf="shows && shows.length > 1">
  <div class="col-sm-4 col-xs-6" *ngFor="let show of shows">
    <div class="panel panel-default show-selector" [class.panel-primary]="hovering === show" (mouseenter)="hovering = show"
      (mouseleave)="hovering = null" [class.show-selected]="selectedShow != null && selectedShow.id === show.id" (click)="onShowClick(show)">
      <div class="panel-body">
        <img [src]="show.logoUrl" [alt]="show.name" draggable="false" class="img-responsive center-block">
        <h3>{{show.name}}</h3>
        <h5>{{show.description}}</h5>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="shows && shows.length === 1">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row vertical-align">
          <div class="col-xs-6">
            <img [src]="shows[0].logoUrl" [alt]="shows[0].name" draggable="false" class="img-responsive pull-right">
          </div>
          
          <div class="col-xs-6 text-left">
            <h3>{{shows[0].name}}</h3>
            <h5>{{shows[0].description}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedShow" id="show-details">
  <div class="row">
    <div class="col-sm-6 col-xs-12 col-ls-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Please select a show date and time.</h4>
        </div>

        <div class="panel-body" id="event-selector">
          <div *ngIf="!days" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>

          <div *ngIf="days">
            <div class="row" *ngFor="let day of days">
              <p><small>{{getReadableDateFromDateString(day)}}</small></p>
              <div class="col-xs-4" *ngFor="let event of getEventsOnDay(day)">
                <button type="button" class="btn btn-default" [(ngModel)]="selectedEvent" [btnRadio]="event">{{getReadableTimeFromDate(event.date)}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12 col-ls-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Please specify the number of people in your group.</h4>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group form-inline">
                <label for="adult-amount">Adults (${{adultCost}})&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" class="form-control" id="adult-amount" min="0" max="30" inputmode="numeric" pattern="[0-9]*" [(ngModel)]="adultTickets">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="form-group form-inline">
                <label for="child-amount">Children (${{childCost}})&nbsp;</label>
                <input type="number" class="form-control" id="child-amount" min="0" max="30" inputmode="numeric" pattern="[0-9]*" ngControl="childTickets" [(ngModel)]="childTickets">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row inside-footer">
    <div class="col-xs-offset-10 col-xs-2">
      <a [class.disabled]="(adultTickets + childTickets === 0 || adultTickets + childTickets > 30) || selectedEvent == null" class="btn btn-primary pull-right"
        role="button" id="select-seats-button" [routerLink]="['/client/seats']">Select Seats</a>
    </div>
  </div>
</div>
