.show-selector {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.show-selected {
  background-color: #286090;
  color: #fff;
}

button:focus {
  outline: 0px !important;
}

#event-selector {
  max-height: 300px;
  overflow-y: auto;
}

.panel {
  position: relative;
}

#single-show-summary {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
